<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <!--        <form action="check" method="POST">
        {% csrf_token %}
        <input type="text" name="url" id="" required />
        <input type="submit" value="check" />
        </form> -->
    <div class="custom">
        <form id="animated-2" method="POST" action="check">
      {% csrf_token %}
      <input type="text" class="search-txt-input" name="url" required />
      <input type="submit" value="check" class="search-button" />
    </form>
    </div>

  </body>
</html>
